# Environments
.env
.venv
env/
venv/

# IDE / Editor specific
.vscode/
.idea/
.qoder/
.vscode/

# Python cache
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/ 

# Project documentation (private)
prd.md