# Environments
utils/.env
.venv
claude-code-router/
env/
venv/

# IDE / Editor specific
.vscode/
.claude
.idea/
.qoder/
.vscode/
# prompt
prompt/test_predict_prompt.py
# Python cache
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/ 

# Project documentation (private)
prd.md
trd.md
CLAUDE.md